@import url('https://fonts.googleapis.com/css2?family=Roboto');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
body {
  background-color: #f1f1f5;
}
header {
  background-color: black;
  color: white;
  padding: 2.5%;
  text-transform: capitalize;
  text-align: center;
  box-shadow: 0px 1px 5px black;
}
.name {
  color: gold;
}
main {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  width: 25%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px 15px;
  text-align: center;
}
#btn {
  width: 10%;
  background-color: black;
  color: #f1f8f5;
  border: 1px solid black;
  padding: 5px;
  margin-top: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  box-shadow: 1px 1px 5px black;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.25rem;
    width: 60%;
  }
  #btn {
    width: 25%;
  }
}
